@font-face {
    font-family: 'calligraffitiregular';
    src: url('/assets/calligraffiti-webfont.eot');
    src: url('/assets/calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/calligraffiti-webfont.woff') format('woff'),
         url('/assets/calligraffiti-webfont.ttf') format('truetype'),
         url('/assets/calligraffiti-webfont.svg#calligraffitiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}